 <!-- Section des offres similaires -->
 <section class="similar-offers-section py-5">
    <div class="container">
        <h2 class="mb-4">Offres similaires</h2>
        <div class="row">

            <!-- Carte 1 -->
             <% offresSimilaires.forEach((offre) => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="../../..<%= offre.offre_URL %>" class="card-img-top" alt="Panier de fruits">
                        <div class="card-body">
                            <h5 class="card-title"> <%= offre.nom_offre %> </h5>
                            <p class="card-text">Prix : <%= offre.prix_apres %> €</p>
                            <a href="/details-offre/<%= offre.id_offre %>" class="btn btn-primary">Voir l'offre</a>
                        </div>
                    </div>
                </div>
            <% }) %>
            <!-- Fin des cartes -->

        </div>
    </div>
</section>