<!-- Panier latéral -->
<div id="cart-overlay"></div>
<div id="cart-sidebar">
    <h5>Mon panier</h5>
    <ul id="cart-items">
        <!-- Les articles du panier seront injectés ici -->
        <li>Panier de fruits - 10 €</li>
        <li>Panier de légumes - 12 €</li>
        <li>Panier mixte - 15 €</li>
    </ul>
    <button class="btn btn-primary w-100">Passer la commande</button>
</div>