<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1>Zero Gaspi</h1>
                <p class="lead">Rejoignez la lutte contre le gaspillage alimentaire et agissez pour un avenir durable.</p>
                <a href="#" class="btn btn-success btn-lg">Agir maintenant</a>
            </div>
        </div>
    </div>
</section>