<section class="offers-section py-5">
    <div class="container">
        <h2 class="text-left mb-5">3 offres trouvées</h2>

        <!-- Liste des offres -->
        <div class="row">
            <!-- Offre 1 -->
            <% offers.forEach((offer) =>{ %>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="chemin/vers/image1.jpg" class="card-img-top" alt="Panier de fruits">
                    <div class="card-body">
                        <h5 class="card-title">Panier de Fruits</h5>
                        <p class="card-text">Prix : 10 €</p>
                        <a href="#" class="btn btn-primary">Voir l'offre</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                </li>
                <% for(let i = 0; i < nb_pages; i++) { %>
                    <li class="page-item <%= (current_page === i+1) ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i+1 %>"><%= i+1 %></a>
                    </li>
                <% } %>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</section>