<section class="offers-section py-5">
    <div class="container">
        <h2 class="text-left mb-5">3 offres trouvées</h2>

        <!-- Liste des offres -->
        <div class="row">
            <!-- Offre 1 -->
            <% offers.forEach((offer) =>{ %>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="../../..<%= offer.offre_URL %>" class="card-img-top" alt="Panier de fruits">
                    <div class="card-body">
                        <h5 class="card-title"><%= offer.nom_offre %></h5>
                        <p class="card-text">Prix : <%= offer.prix_apres %> €</p>
                        <a href="#" class="btn btn-primary">Voir l'offre</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>



    </div>
</section>