<section class="offers-section">
    <div class="container">
        <h2 class="text-center mb-5">Derniers offres ajoutés</h2>
        <!-- Liste des offres -->
        <div class="row">
            <!-- Offres affichage -->
            <% offers.forEach((offer) =>{ %>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="chemin/vers/image1.jpg" class="card-img-top" alt="Panier de fruits">
                    <div class="card-body">
                        <h5 class="card-title">Panier de Fruits</h5>
                        <p class="card-text">Prix : 10 €</p>
                        <a href="#" class="btn btn-primary">Voir l'offre</a>
                    </div>
                </div>
            </div>
            <% }); %>
            <!-- Fin des offres affichage -->
        </div>         
    </div>
</section>