<!-- Section Horaires -->
<div class="card section-card">
    <div class="card-body">
        <h2 class="h5 card-title mb-4"><i class="bi bi-clock me-2"></i> Horaires d'ouverture</h2>
        
        <div class="row g-3">
            <div class="col-md-6">
                <label for="openingTime" class="form-label">Heure d'ouverture</label>
                <input type="time" class="form-control" id="openingTime" value="<%= commerce_info.ouverture %>" name="ouverture">
            </div>
            <div class="col-md-6">
                <label for="closingTime" class="form-label">Heure de fermeture</label>
                <input type="time" class="form-control" id="closingTime" value="<%= commerce_info.fermeture %>" name="fermeture">
            </div>

        </div>
    </div>
</div>